* {
  background-color: blanchedalmond;
}

/* Index HTML */

.menu {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  list-style-type: none;
  gap: 5px;
}

.menu li a{
  text-decoration: none;
  color: black;
  font-size: 11px;
}

header {
  text-align: center;
  padding-top: 10px;
}

/* About HTML */

.about {
  text-align: center;
  margin: 2.5rem;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 0 7rem 0 7rem;

}

.description1 {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 0 7rem 0 7rem;
  margin-bottom: 5rem;
}

.CV {
  text-align: center;
  padding: 2rem 2rem;
}

.CV img {
  width: 200px;
}

/* Footer */

.icons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.icons a{
  color: black;
}